extends ../layouts/default

block intro
	.container
		h1 Обратная связь
		
block content
	.container
		if enquirySubmitted
			h3 Спасибо за обращение, мы свяжемся с Вами в ближайшее время!
		else
			.row: .col-sm-8.col-md-6
				form(method='post')
					input(type='hidden', name='action', value='contact')
					.form-group(class=validationErrors.name ? 'has-error' : null)
						label Имя
						input(type='text', name='name.full', value=formData['name.full'], required).form-control
					.form-group(class=validationErrors.email ? 'has-error' : null)
						label Email
						input(type='email', name='email', value=formData.email, required).form-control
					.form-group
						label Телефон
						input(type='text', name='phone', value=formData.phone, placeholder='(не обязательно)').form-control
					.form-group(class=validationErrors.enquiryType ? 'has-error' : null)
						label Тема обращения?
						select(name='enquiryType').form-control
							option(value='') (выбрать)
							each type in enquiryTypes
								option(value=type.value, selected=formData.enquiryType == type.value)= type.label
					.form-group(class=validationErrors.message ? 'has-error' : null)
						label Сообщение
						textarea(name='message', placeholder='Оставьте нам сообщение...' rows=4).form-control= formData.message
					.form-actions
						button(type='submit').btn.btn-primary Отправить
