extends ../layouts/default

block css
    link(href="/js/lib/jqwidgets/styles/jqx.base.css", rel="stylesheet")
    link(href="/js/lib/jqwidgets/styles/jqx.energyblue.css", rel="stylesheet")

    link(href="/styles/boxer/jquery.fs.boxer.css", rel="stylesheet")

block content
    .container
        h1 Недвижимость
        if data.nedvCount
            h3 #{data.nedvCount}


        .form-group
            .panel
                .panel-title Быстрые фильтры
                .form-inline
                    a(href='#', id='tolkoSPhoto', style='margin-top: 10px; margin-right: 10px;').btn.btn-primary Только с фото
                    a(href='#', id='tolkoNew', style='margin-top: 10px; margin-right: 10px;').btn.btn-primary Только новые
                    a(href='#', id='prodayu', style='margin-top: 10px; margin-right: 10px;').btn.btn-primary Продаю
                    a(href='#', id='sdayu', style='margin-top: 10px; margin-right: 10px;').btn.btn-primary Сдаю
                    a(href='#', id='kuplyu', style='margin-top: 10px; margin-right: 10px;').btn.btn-primary Куплю
                    a(href='#', id='snimu', style='margin-top: 10px; margin-right: 10px;').btn.btn-primary Сниму
                    a(href='#', id='novostroi', style='margin-top: 10px; margin-right: 10px;').btn.btn-primary Новострой
                    a(href='#', id='vtorichka', style='margin-top: 10px; margin-right: 10px;').btn.btn-primary Вторичка
                    if !user
                        a(href='#' title="Доступно только зарегистрированным пользователям!" data-placement='right', style='margin-top: 10px; margin-right: 10px;').btn.btn-warning Убрать агентов
                    else
                        a(href='#', id='ubratAgentov', style='margin-top: 10px; margin-right: 10px;').btn.btn-primary Убрать агентов
                    .v-spacer


        .form-group
            .panel
                .panel-title Настройки фильтров
                .form-inline
                    select(name='cityNames', id='cityNames', style='margin-top: 10px; margin-right: 10px;').form-control
                        option(value='') Город
                            each name in data.cityNames
                                option(value=name)= name

                    select(name='cityRaions', id='cityRaions', style='margin-top: 10px; margin-right: 10px;').form-control
                        option(value='') Район
                            each name in data.cityRaions
                                option(value=name)= name

                    select(name='category', id='category', style='margin-top: 10px; margin-right: 10px;').form-control
                        option(value='') Категория
                            each name in data.category
                                option(value=name)= name

                    select(name='komnat', id='komnat', style='margin-top: 10px; margin-right: 10px;').form-control
                        option(value='') Комнат
                            each name in data.komnat
                                option(value=name)= name

                    select(name='period', id='period', style='margin-top: 10px; margin-right: 10px;').form-control
                        option(value='') Период
                            each name in data.period
                                option(value=name)= name

                    select(name='plosh', id='plosh', style='margin-top: 10px; margin-right: 10px;').form-control
                        option(value='') Площадь
                            each name in data.plosh
                                option(value=name)= name

                    select(name='price', id='price', style='margin-top: 10px; margin-right: 10px;').form-control
                        option(value='') Цена
                            each name in data.price
                                option(value=name)= name

                    .v-spacer
                    a(href='#', id='applyFilters', style='margin-top: 10px; margin-right: 10px;').btn.btn-primary Применить фильтры
                    a(href='#', id='clearFilters', style='margin-top: 10px; margin-right: 10px;').btn.btn-primary Очистить все фильтры
                    .v-spacer




        #jqxWidget
            #jqxgrid


//-
    if nedvizimost.length

        each ned, i in nedvizimost
            if i
                hr
            h3= ned.raion
                small.text-muted= ned.address


    else
        .jumbotron.text-center
            .lead.text-muted There are no nedviz in the database.

    label(style='margin-top: 10px;') Город
         select(name='cityNames', style='margin-top: 10px; margin-right: 10px;').form-control
             option(value='') (Район)
                 each name in data.cityNames
                     option(value=name, selected=data.cityNames[0] == name)= name




block js
    script(src='/js/lib/bootstrap/tooltip.js')
    script(src='/js/lib/jqwidgets/jqxcore.js')
    script(src='/js/lib/jqwidgets/jqxdata.js')
    script(src='/js/lib/jqwidgets/jqxbuttons.js')
    script(src='/js/lib/jqwidgets/jqxscrollbar.js')
    script(src='/js/lib/jqwidgets/jqxmenu.js')
    script(src='/js/lib/jqwidgets/jqxlistbox.js')
    script(src='/js/lib/jqwidgets/jqxdropdownlist.js')
    script(src='/js/lib/jqwidgets/jqxgrid.js')
    script(src='/js/lib/jqwidgets/jqxgrid.selection.js')
    script(src='/js/lib/jqwidgets/jqxgrid.columnsresize.js')
    script(src='/js/lib/jqwidgets/jqxgrid.filter.js')
    script(src='/js/lib/jqwidgets/jqxgrid.sort.js')
    script(src='/js/lib/jqwidgets/jqxgrid.pager.js')
    script(src='/js/lib/jqwidgets/jqxgrid.grouping.js')
    script(src='/js/lib/jqwidgets/jqxtabs.js')
    script(src='/js/lib/boxer/jquery.fs.boxer.min.js')
    script(src='/js/nedvizClient.js')

    script.
        $(document).ready(function(){
                $(".btn.btn-warning").tooltip();
        })